<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script type="text/javascript" src="/scripts/main.js"></script>
</head>
<body>
<div class="navbar">
    <div class="navbar-left">
        <a href="/">Back To Blog</a>
    </div>
    <div class="dropdown" id="login"><div onclick="dropdown()" class="dropbtn">Login</div>
        <div class="dropdown-content" id="dropdown-menu">
            <form class="dropdown-form">
                <input class="custom-input" type="text" name="username" placeholder="username">
                <input class="custom-input" type="password" name="password" placeholder="password"><br>
                <a class="custom-button" href="/signin.html">Signup</a>
                <div class="custom-button" type="submit">Submit</div>
            </form>
        </div>
    </div>

</div>
<div class="blog-header">
    <div id="blog-title-grandma">Blind Grandma</div>
    <div id="blog-title-developer">Developer's Blog</div>
</div>


<div class="blog-content">
    <div class="blog-post">
        <div class="post-header">
            <h1 class="title"><%= blogPostJson["rows"][0]["title"] %></h1>
            <div class="author">by: <%= blogPostJson["rows"][0]["admin_id"] %></div>
        </div>
        <%- blogPostJson["rows"][0]["content"] %>
        <div class="post-footer">
            <% if(loggedIn) {%>
            <button class="add-comment-button">Add Comment</button>
            <% } %>
            <div class="comment-container">
            <% commentsJson["rows"].forEach(function(row) {  %>
               <div class="comment-header">
                   <div class="author">by: <%= row.user_id %></div>
               </div>
                <div class="comment-content">
                    <%= row.content %>
                </div>
            <% });%>
            </div>
        </div>
    </div>
</div>
</body>
</html>