<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script type="text/javascript" src="/scripts/main.js"></script>
    <script src="/plugins/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/scripts/tinymceComment.js"></script>
</head>
<body>
<div class="navbar">
    <div class="navbar-left">
        <a class="navbar-button" href="/">Back To Blog</a>
    </div>
    <div class="navbar-right">
        <% if(loggedIn) {%>
        <div class="dropdown" id="user-dropdown">
            <div onclick="dropdownUser()" class="dropbtn"><%= user[0]["name"] %></div>
            <div class="dropdown-content" id="dropdown-menu-user">
                <a onclick="logout()">Logout</a>
            </div>
        </div>
        <% }
        else { %>
        <div class="dropdown" id="login"><div onclick="dropdownLogin()" class="dropbtn">Login</div>
            <div class="dropdown-content" id="dropdown-menu-login">
                <form class="dropdown-form">
                    <input id="txtUsername" class="custom-input" type="text" name="username" placeholder="username">
                    <input id="passwordInput" class="custom-input" type="password" name="password" placeholder="password"><br>
                    <div class="button-row">
                        <a class="dropdown-custom-button" href="/signin.html">Signup</a>
                        <a class="dropdown-custom-button" onclick="login()">Login</a>
                    </div>
                </form>
            </div>
        </div>
        <%} %>
    </div>

</div>
<div class="blog-header">
    <img id="gma-header-image" src="/stylesheets/gma.png"/>
    <div class="blog-header-text">
        <div id="blog-title-grandma">Blind Grandma</div>
        <div id="blog-title-developer">Developer's Blog</div>
    </div>
    <img id="meo-header-image" src="/stylesheets/meo.png"/>
</div>


<div class="blog-content">
    <div class="blog-post">
        <div class="post-header">
            <h1 class="title"><%= blogPostJson["rows"][0]["title"] %></h1>
            <div class="author">by: <%= blogPostJson["rows"][0]["admin_id"] %></div>
        </div>
        <%- blogPostJson["rows"][0]["content"] %>
        <div class="post-footer">
            <hr>
            <div class="comment-count"><span id="comment-number"><%- commentsJson["rows"].length %></span> <span id="comment-text">comments</span></div>
            <textarea id="tinymce" class="add-comment-area" placeholder="Leave a comment"></textarea>
            <div id="add-comment-container">
                <% if (!loggedIn) { %>
                <div id="login-comment-text" class="add-comment custom-button" onclick="dropdownLogin()">Log In To Comment</div>
                <% } else { %>
                <div id="post-comment-text" class="add-comment custom-button" onclick="addComment(<%- blogPostJson["rows"][0]["id"] %>)">Post Comment</div>
                <% } %>
            </div>
            <hr>
            <div class="comment-container">
            <% commentsJson["rows"].forEach(function(row) {  %>
                <div class="comment">
                   <div class="comment-header">
                       <div class="comment-author">by: <%= row.user_id %></div>
                   </div>
                    <div class="comment-content">
                        <%- row.content %>
                    </div>
                </div>
            <% });%>
            </div>
        </div>
    </div>
</div>
</body>
</html>